{
  "extends": [
    "eslint:recommended",
  ],
  "rules": {
    "semi": ["error", "never"]
  },
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module"
  }
}
